:root {
  --tile-width: 151px;

  --water-color: #1691c6;
  --sand-color: #e8d49c;
  --sand-color-dark: color-mix(in srgb, var(--sand-color) 50%, #000);
  --sand-color-text-dark: #9c5e15;

  --trade-positive: #64b864;
  --trade-negative: #ff4f4f;
  /* --trade-negative: #ff4f7b; */

  /* --player-1-color: #f21313; */
  /* --player-1-color: #fb4646; */
  --player-1-color: #e53a3a;

  /* --player-2-color: #05a3f4; */
  /* --player-2-color: #0040c8; */
  /* --player-2-color: #5d60ff; */
  --player-2-color: #2b70ff;

  /* --player-3-color: #23ff1e; */
  /* --player-3-color: #0b8e08; */
  --player-3-color: #03a800;

  /* --player-4-color: #ffb902; */
  /* --player-4-color: #815d00; */
  --player-4-color: #dc9f00;
  /* --player-4-color: #b78400; */



  --player-1-color-light: color-mix(in srgb, var(--player-1-color) 40%, #fff);
  --player-2-color-light: color-mix(in srgb, var(--player-2-color) 40%, #fff);
  --player-3-color-light: color-mix(in srgb, var(--player-3-color) 40%, #fff);
  --player-4-color-light: color-mix(in srgb, var(--player-4-color) 40%, #fff);

  --player-1-color-dark: color-mix(in srgb, var(--player-1-color) 100%, #000 40%);
  --player-2-color-dark: color-mix(in srgb, var(--player-2-color) 100%, #000 40%);
  --player-3-color-dark: color-mix(in srgb, var(--player-3-color) 100%, #000 40%);
  --player-4-color-dark: color-mix(in srgb, var(--player-4-color) 100%, #000 40%);
}
