@import "/css/index/accessibility.css";
@import "/css/index/alert.css";
@import "/css/constants.css";
@import "/css/fonts.css";

:root {
  --title-padding: .8em 20px .2em;
  --tile-width: 151px;
}

@media screen and (max-width: 800px) {
  :root {
    --title-padding: 2em 20px 1em;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --title-padding: 2em 10px 1em;
  }
}

html { height: 100%; }
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: url(/images/catan-bg.png);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(50px);
  transition: all linear .5s;
}

button {
  display: block;
  background: none; color: inherit; border: none;
  font: inherit; cursor: pointer;
  outline: inherit; appearance: unset;
  padding: 0; padding-block: 0px; padding-inline: 0px;
}

@keyframes blink { 50% { opacity: .5; } }
#waiting-room {
  /* height: 100%; */
  display: flex; flex-wrap: wrap; align-content: flex-start;
  font-family: EagleLake;
  &.hide { opacity: 0; transition: opacity .5s 1.5s linear; }

  .title {
    position: absolute; top: 0; left: 0; width: 100%;
    text-align: center; cursor: default;
    .colored {
      border-bottom: 2px solid var(--sand-color-dark); background-color: var(--sand-color);
    }
    .name {
      font-size: 1em; color: #0006;
    }
    .text {
      margin-bottom: 10px; margin-top: -5px;
      font-size: 2.5em; text-align: center; position: relative;
      color: var(--sand-color-text-dark); cursor: copy;
      transition: all .15s ease;
      svg { transform: scale(1.3); margin-left: 5px; opacity: 0.7; }
      &:hover{
        filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 2px #fff);
        &::after {
          content: 'Copy'; position: absolute; bottom: -20px; left: calc(50% - 30px);
          text-align: center; font-size: 1rem; font-family: Raleway;
          background-color: #000c; color: #fff; padding: 3px 10px; border-radius: 3px;
        }
      }
      &.copied:hover{
        cursor: default; filter: drop-shadow(0 0 5px #fff0) drop-shadow(0 0 2px #0000) contrast(0.5);
        &::after { content: 'Copied!'; }
      }
    }
    small {
      display: block; color: var(--sand-color); margin-top: 10px;
    }
  }

  .players {
    margin: 335px auto 130px;
    /* width: 298px; */
    position: relative;
    padding-right: 2px;
    display: flex;
    filter: drop-shadow(0px 0px 10px #000);

    > div {
      width: var(--tile-width);
      margin-right: -2px;
      height: 176px;
      display: inline-block;
      vertical-align: top;
      background-size: cover;
      position: relative;
      background-image: url(/images/tiles/Desert.png);
      display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center;
      /* animation: 1s infinite alternate blink ease; */
      animation: blink 3s cubic-bezier(0.63, 0.01, 0.27, 0.97) 0s infinite;
      &.hide { display: none; }
      &.joined { animation: none; }

      .name {
        color: #fff; background: #ffffffa8;
        width: 100%; margin: 73px 0; padding: 4px 5px;
        box-sizing: border-box;
        text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
      }

      &.player-1 .name {
        /* background: color-mix(in srgb, var(--player-1-color) 66%, transparent); */
        background: var(--player-1-color);
      }

      &.player-2 {
        animation-delay: .5s;
        .name { background: var(--player-2-color); }
      }

      &.player-3 {
        position: absolute; top: -131px; left: 74px;
        animation-delay: .75s;

        .name { background: var(--player-3-color); }
      }

      &.player-4 {
        position: absolute; top: 131px; left: 74px;
        animation-delay: .25s;

        .name { background: var(--player-4-color); }
      }
    }
  }
}
