<!DOCTYPE html>

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Catan Game - Play for Free</title>
  <meta name="description" content="Play Settlers of Catan for Free in this open-sourced platform.">
  <meta property="og:title" content="Catan Game - Play for Free">
  <meta property="og:description" content="Play Settlers of Catan for Free in this open-sourced platform.">
  <meta property="og:image" content="https://bharathraja.in/catan/images/game-screenshot.png">
  <meta property="og:url" content="https://catan-qvig.onrender.com/">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="shortcut icon" type="image/jpg" href="/images/favicon.png" />
</head>

<div id="login">
  {{#notice}}
    <div class="notice">{{notice}}</div>
  {{/notice}}
  <div class="container"></div>
</div>
<div id="game"><div class="accessibility-zone"></div></div>

<script src="/js/login.js" type="module"></script>
