<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Catan Map Shuffler / Randomizer</title>
  <meta name="description" content="Create random shuffled boards for your catan game this open-sourced randomizer.">
  <meta property="og:title" content="Catan Map Shuffler / Randomizer">
  <meta property="og:description" content="Create random shuffled boards for your catan game this open-sourced randomizer.">
  <meta property="og:image" content="https://bharathraja.in/catan/images/shuffler-screenshot.png">
  <meta property="og:url" content="https://bharathraja.in/catan">
  <link rel="stylesheet" href="/catan/css/static-shuffler.css">
  <link rel="shortcut icon" type="image/jpg" href="/catan/images/favicon.png" />
</head>
<div id="game">
  <div class="board-container">
    <div class="board"></div>
  </div>
  <div class="accessibility-zone"></div>
</div>
<div id="shuffler"></div>
<div id="tile-selector" data-mode="start"></div>
<script src="/catan/js/static-shuffler.js" type="module"></script>
