<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Catan</title>
  <link rel="stylesheet" href="/css/waiting_room.css">
</head>
<div id="waiting-room">
  <div class="title">
    <div>Game Key: <input type="text" id="game_id" value="{{ game_id }}" readonly></div>
    <small>Waiting for <span>0</span> more players to join...</small>
  </div>
  <div class="players">
    <div class="player-1"></div>
    <div class="player-2"></div>
    <div class="player-3 hide"></div>
    <div class="player-4 hide"></div>
  </div>
</div>
<div id="game"><div class="accessibility-zone"></div></div>

<script>
  window.game_id = "{{ game_id }}";
  window.players = {{{ players }}};
  window.player_count = {{ player_count }};
</script>
<script src="/socket.io/socket.io.min.js"></script>
<script src="/js/waiting_room.js" type="module"></script>
