@import './constants.css';
@import './resources.css';
@import './index/all-players.css';
@import './index/board.css';
@import './index/current-player.css';
@import './index/robber-drop.css';
@import './index/trade.css';
@import './index/res-selection.css';
@import './index/animations.css';

body {
  margin: 0;
  background: var(--water-color);
}

.splash {
  background: url(/images/catan-bg.png);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  &.hide {
    opacity: 0;
    z-index: -100;
    transition: opacity .5s .5s linear, z-index 0s 1s linear, width .5s linear, height .5s linear;
    /* height: 100%;
    width: 100%; */
  }
}

#game {
  /* transform: scale(0.85); */
  /* transform-origin: top left; */
  margin: 0 auto;
  width: fit-content;
  display: flex; justify-content: center; flex-direction: column; align-items: center;

  > .alert {
    opacity: 0;
    z-index: -10;
    transition: opacity .25s linear;
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    font-family: papyrus, fantasy;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 2em;
    letter-spacing: 1px;
    text-align: center;

    &.show {
      z-index: 0;
      opacity: 1;
    }

    small {
      font-size: .5em;
      text-shadow: none;
    }

    .parchment {
      box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
      background: #fffef0;
      filter: url(#wavy2);
      padding: 1em;
      color: transparent;

      b {
        background: #734101;
        padding: 8px;
      }
    }

    .text {
      color: rgb(157 90 13);
      text-shadow: 1px 2px 0px #000000, -3px -3px 5px #ffffff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 1em;
      width: calc(100% - 2em);
      b {
        padding: 8px;
        color: #e5dac1;
        text-shadow: none;
      }
    }
  }
}

@media screen and (min-width: 994px) {
  #game {
    /* display: flex; */
    /* justify-content: center; */
  }
}

/* https: //www.catancollector.com/catan-links/how-to-identify-your-version-of-catan */
