:root {
  --tile-width: 151px;
}

body {
  margin: 0;
  background: #1691c6;
}

#game {
  /* transform: scale(0.85); */
  transform-origin: top left;
  margin: 0 auto;
  width: fit-content;
}

@media screen and (min-width: 994px) {
  #game {
    /* display: flex; */
    justify-content: center;
  }
}

.board {
  position: relative;
  margin: 30px 0;
  box-sizing: border-box;
}


.row {
  position: relative;
  height: 173px;
  margin-top: -44px;
}

.tile {
  width: var(--tile-width);
  margin-right: -2px;
  height: 176px;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
  position: relative;
}

.tile.S {
  /* background-color: red; */
  /* z-index: -2; */
}

.tile.S[data-trade]::after {
  content: '';
  background-size: contain;
  position: absolute;
  width: 65px;
  height: 77px;
}

.tile.S[data-trade="B"]::after {
  background-image: url(/images/trade/Brick.png)
}

.tile.S[data-trade="L"]::after {
  background-image: url(/images/trade/Lumber.png)
}

.tile.S[data-trade="O"]::after {
  background-image: url(/images/trade/Ore.png)
}

.tile.S[data-trade="S"]::after {
  background-image: url(/images/trade/Sheep.png)
}

.tile.S[data-trade="W"]::after {
  background-image: url(/images/trade/Wheat.png)
}

.tile.S[data-trade="*"]::after {
  background-image: url(/images/trade/*.png)
}

.tile.S[data-trade-dir="bottom_right"]::after {
  transform: translate(67px, 62px);
}

.tile.S[data-trade-dir="bottom_left"]::after {
  transform: translate(29px, 69px);
}

.tile.S[data-trade-dir="top_right"]::after {
  transform: translate(65px, 16px);
}

.tile.S[data-trade-dir="top_left"]::after {
  transform: translate(30px, 19px);
}

.tile.S[data-trade-dir="right"]::after {
  transform: translate(83px, 44px);
}

.tile.S[data-trade-dir="left"]::after {
  transform: translate(20px, 30px);
}

.tile .corners {
  position: absolute;
}

.tile .corner {
  width: 30px;
  height: 30px;
  background: #fff9;
  border-radius: 30px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  visibility: hidden;
}

.tile .corner:hover {
  background: #fff;
}

.tile .corner[data-dir="top"] {
  top: -15px;
  left: 60px;
}

.tile .corner[data-dir="top_left"] {
  top: 30px;
  left: -15px;
}

.tile .corner[data-dir="top_right"] {
  top: 30px;
  left: 135px;
}

.tile .corner[data-dir="bottom"] {
  top: 155px;
  left: 60px;
}

.tile .corner[data-dir="bottom_left"] {
  top: 115px;
  left: -15px;
}

.tile .corner[data-dir="bottom_right"] {
  top: 115px;
  left: 135px;
}

.tile .trade-post {
  background-image: url(/images/trade/Dock.png);
  width: 34px;
  height: 44px;
  background-size: contain;
  /* transform: rotate(180deg) translate(0px, 20px); */
  z-index: 1;
  position: absolute;
}

.tile .trade-post.p-top {
  top: -15px;
  left: 60px;
  transform: translate(-2px, 2px);
}

.tile .trade-post.p-top_left {
  top: 30px;
  left: -15px;
  transform: rotate(-60deg) translate(9px, 2px);
}

.tile .trade-post.p-top_right {
  top: 30px;
  left: 135px;
  transform: rotate(60deg) translate(-10px, 3px);
}

.tile .trade-post.p-bottom {
  top: 155px;
  left: 60px;
  transform: rotate(180deg) translate(3px, 15px);
}

.tile .trade-post.p-bottom_left {
  top: 115px;
  left: -15px;
  transform: rotate(-120deg) translate(7px, 11px);
}

.tile .trade-post.p-bottom_right {
  top: 115px;
  left: 135px;
  transform: rotate(120deg) translate(-5px, 13px);
}

.tile .edges {
  position: absolute;
}

.tile .edge {
  width: 10px;
  height: 50px;
  background: #fff9;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  visibility: hidden;
}

.tile .edge:hover {
  background: #fff;
}

.tile .edge[data-dir="top-left"] {
  transform: rotate(60deg) translate(15px, -29px);
}

.tile .edge[data-dir="top-right"] {
  transform: rotate(120deg) translate(-56px, -92px);
}

.tile .edge[data-dir="top_left-bottom"] {
  transform: rotate(0deg) translate(-5px, 62px);
}

.tile .edge[data-dir="top_right-bottom"] {
  transform: rotate(0deg) translate(145px, 61px);
}

.tile .edge[data-dir="bottom_left-right"] {
  transform: rotate(120deg) translate(94px, -91px);
}

.tile .edge[data-dir="bottom_right-left"] {
  transform: rotate(60deg) translate(164px, -30px);
}
