@import "/css/index/accessibility.css";
@import "/css/index/alert.css";
@import "/css/constants.css";
@import "/css/fonts.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: EagleLake, serif;
}

button {
  display: block;
  background: none; color: inherit; border: none;
  font: inherit; cursor: pointer;
  outline: inherit; appearance: unset;
  padding: 0; padding-block: 0px; padding-inline: 0px;
}

#login {
  height: 100%; width: 100%; overflow: scroll;
  display: flex; justify-content: center; align-items: flex-start;
  background: url(/images/catan-bg.png) center/cover;

  > .notice {
    position: absolute; top: 0; left: 0;
    width: 100%; overflow: hidden; max-height: 100px;
    color: var(--sand-color-text-dark); background: var(--sand-color);
    border-bottom: 1px solid var(--sand-color-dark);
    padding: 10px 30px;
    text-align: center;
    box-sizing: border-box;
    &.hide { max-height: 0; padding: 0; transition: all .5s ease-out; }
  }

  > .container {
    width: 400px; margin-top: 100px;

    .action-types {
      display: flex; margin: 0px 40px;
      color: var(--sand-color); background-color: #c41f26;
      border-radius: 5px; overflow: hidden; border: 1px solid var(--sand-color);
      text-transform: uppercase;

      > label {
        width: 33%; padding: 5px 10px 5px; text-align: center; cursor: pointer;
        border-right: 1px solid color-mix(in srgb, var(--sand-color), transparent 70%);
        transition: all .25s ease;
        &:first-child { width: 34%; border: none; }
        &:has(input:checked) { background-color: var(--sand-color); color: var(--sand-color-text-dark); }
        &:hover:has(input:not(:checked)) { background-color: color-mix(in srgb, var(--sand-color) 20%, transparent);  }

        input[type="radio"]{ opacity: 0; position: absolute; cursor: pointer; }
      }
      &:has(input:is(:focus, :active)) { box-shadow: 0 0 10px 0px #000c; }
    }

    .action-container {
      background: #fff3; box-shadow: 0 0px 40px #0009; margin: 50px 0 50px;
      border-radius: 10px; backdrop-filter: blur(6px); padding: 40px;

      .section {
        width: 100%;
        display: none; flex-direction: column; align-items: center;

        input[type="text"] {
          background: #fffc; text-align: center;
          border: 1px solid #fff6; border-radius: 5px;
          padding: 10px 20px; margin-bottom: 20px; box-shadow: 0 0 1px 0 #000;
          backdrop-filter: blur(6px); text-shadow: 0 0 5px #fff, 0 0 10px #fff;
          font-family: inherit; font-size: 1.5em; color: var(--sand-color-text-dark);
          width: 100%; box-sizing: border-box; transition: all .25s ease;
          &::placeholder { color: #0006; text-shadow: none; }
          &:focus { box-shadow: 0 0 10px 0 #000; background: #fff; outline: none; }
        }

        .submit {
          margin: 20px auto 0; padding: 7px 25px; width: fit-content;
          box-sizing: border-box;
          border: 2px solid var(--sand-color); border-radius: 50px;
          text-align: center;
          background: #333; color: var(--sand-color);
          font-size: 1.2em; font-weight: bold; word-spacing: 5px;
          transition: all .25s ease;

          &:active { background: #000; }
          &:hover, &:focus { box-shadow: 0 0 10px 0px var(--sand-color), 0 0 20px 0px #333; }
          /* &:focus { border-color: #000; } */
        }
      }

      .host-section {
        input.name { margin-bottom: 30px; }
        .players-count-container {
          display: flex; justify-content: space-between;
          width: 100%; margin-bottom: 35px; position: relative;
          > label {
            display: flex; flex-wrap: wrap; justify-content: center; align-content: flex-start;
            width: 80px; background-color: #fff6; cursor: pointer; color: #333;
            border-radius: 5px; border: 1px solid #fff;
            padding: 5px 7px 8px; font-size: 2em;
            filter: grayscale(.5) contrast(0.5) brightness(1.5);
            transition: all .25s ease;
            &:hover { background-color: #fff; filter: none; }
            .text {
              flex-grow: 1; width: 100%; text-align: center; line-height: 1em; margin-bottom: 5px;
            }
            &.player-count-3 .text { position: relative; top: -7px; }
            .p1, .p2, .p3, .p4 {
              width: 25px; height: 24px;
              margin: -3px; background-size: cover; background-position: center;
            }
            .p1 { background-image: url(/images/pieces/city-1.png); }
            .p2 { background-image: url(/images/pieces/city-2.png); }
            .p3 { background-image: url(/images/pieces/city-3.png); }
            .p4 { background-image: url(/images/pieces/city-4.png); }
            input { position: absolute; opacity: 0; cursor: pointer; }
            &:has(input:checked) {
              background: color-mix(in srgb, var(--sand-color), transparent);
              filter: none; box-shadow: 0 0 0 3px var(--sand-color-dark);
            }
            &:has(input:checked:focus) { box-shadow: 0 0 10px 1px #000; }
            &:has(input:checked)::before { content: 'Players'; font-size: 1.2rem; color: #0006;
              position: absolute;
              bottom: -35px; }
          }
        }
        .player-count-text { color: #0006; font-size: 1.2em; }

        .advaced-options {
          position: relative; display: none;
          input { opacity: 0; position: absolute; cursor: pointer; top: 0; }
          &.disabled { cursor: not-allowed; opacity: 0.5; input { display: none; } }
          &.disabled input { cursor: not-allowed; }
        }
      }

      .join-section {
        input.game-key { font-size: 1em; }
      }

      .watch-section { color: #fff; }
    }
    .action-types:has(input[value="host"]:checked) + .action-container .host-section { display: flex; }
    .action-types:has(input[value="join"]:checked) + .action-container .join-section { display: flex; }
    .action-types:has(input[value="watch"]:checked) + .action-container .watch-section { display: flex; }
  }
}
