.res-icon{
}

.res-card {
  width: 140px;
  height: 212px;
  background-color: #ebd290;
  border-radius: 15px;
  border: 1px solid #5a460e;
  box-shadow: 3px 0px 5px -3px #0006;
  background-image: url(/images/cards_sprite.png);

  &[data-type=S] { background-size: 1100px; background-position: -176px -13px; }
  &[data-type=L] { background-size: 1109px; background-position: -639px -9px; }
  &[data-type=B] { background-size: 1077px; background-position: -12px -15px; }
  &[data-type=O] { background-size: 1074px; background-position: -326px -5px; }
  &[data-type=W] { background-size: 1097px; background-position: -484px -9px; }
}
