@import "/css/index/accessibility.css";
@import "/css/index/alert.css";
@import "/css/constants.css";
@import "/css/fonts.css";

:root {
  --title-padding: .8em 20px .2em;
  --tile-width: 151px;
}

@media screen and (max-width: 800px) {
  :root {
    --title-padding: 2em 20px 1em;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --title-padding: 2em 10px 1em;
  }
}

html { height: 100%; }
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: url(/images/catan-bg.png);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(50px);
  transition: all linear .5s;
}

@keyframes blink { 50% { opacity: .5; } }
#waiting-room {
  /* height: 100%; */
  display: flex; flex-wrap: wrap; align-content: flex-start;
  font-family: EagleLake;
  /* &.hide { opacity: 0; transition: opacity .5s linear; } */

  .title {
    position: absolute; top: 0; left: 0; width: 100%;
    text-align: center;
    div {
      font-size: 1em;
      color: #0006;
      background-color: var(--sand-color);
      border-bottom: 2px solid var(--sand-color-dark);
      input {
        border: none; background: none;
        width: 100%; margin-bottom: 10px; margin-top: -5px;
        font-size: 2em; text-align: center; font-family: inherit;
        /* font-size: max(4vw, 30px); */
        color: var(--sand-color-text-dark);
        &:focus { outline: none; }
      }
    }
    small {
      display: block; color: var(--sand-color); margin-top: 10px;
    }
  }

  .players {
    margin: 335px auto 130px;
    /* width: 298px; */
    position: relative;
    padding-right: 2px;
    display: flex;
    filter: drop-shadow(0px 0px 10px #000);

    > div {
      width: var(--tile-width);
      margin-right: -2px;
      height: 176px;
      display: inline-block;
      vertical-align: top;
      background-size: cover;
      position: relative;
      background-image: url(/images/tiles/Desert.png);
      display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center;
      /* animation: 1s infinite alternate blink ease; */
      animation: blink 2s step-start 0s infinite;

      &.hide { display: none; }

      .name {
        color: #fff; background: #ffffffa8;
        width: 100%; margin: 73px 0; padding: 4px 5px;
        box-sizing: border-box;
        text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
      }

      &.player-1 .name {
        /* background: color-mix(in srgb, var(--player-1-color) 66%, transparent); */
        background: var(--player-1-color);
      }

      &.player-2 {
        animation-delay: .5s;
        .name { background: var(--player-2-color); }
      }

      &.player-3 {
        position: absolute; top: -131px; left: 74px;
        animation-delay: .75s;

        .name { background: var(--player-3-color); }
      }

      &.player-4 {
        position: absolute; top: 131px; left: 74px;
        animation-delay: .25s;

        .name { background: var(--player-4-color); }
      }
    }
  }
}
