#game > .accessibility-zone {
  position: fixed; top: 0; left: 0;
  display: flex; flex-direction: column;
  margin: 10px 0 0 10px; z-index: 50;

  .icon {
    width: 30px; height: 30px; box-sizing: border-box;
    margin-bottom: 10px; margin-right: 10px;
    background-color: #fff3; color: #fffc;
    font-family: monospace; font-size: 20px;
    border: 2px solid; border-radius: 100px;
    opacity: 0.5; position: relative;
    display: flex; align-items: flex-start; justify-content: center;
    &:hover, &:focus {
      opacity: 1; box-shadow: 0 0 10px 0 #0009; color: #fff; background-color: #0009;
      &::after {
        content: attr(title); white-space: nowrap; position: absolute; left: 40px; top: 2px;
        background: inherit; font-size: 13px; font-family: Roboto; font-weight: normal;
        padding: 3px 7px; border-radius: 3px;
      }
    }
  }

  .grouped { display: flex; }

  .full-screen {
    &::before { content: '⇱'; }
    &.on::before { content: '⇲'; }
  }
  .zoom-in { padding-top: -1px; }
  .zoom-out { padding-top: .5px; font-weight: bold; }
  .notifications {
    font-size: 18px; padding-left: 3px; padding-top: 1px;
    &::before { content: '🔊'; }
    &.off::before { content: '🔇'; }
  }
  .bgm {
    position: relative; padding-top: 1px;
    &.off::before { content: '\\'; position: absolute; left: 8px; }
  }
  .question-mark { padding-top: 2px; font-weight: bold; }
  .quit {
    font-family: Roboto, sans-serif; position: relative;
    b::before { content: 'o'; position: absolute; top: 0px; left: 6px; font-size: 25px; line-height: 25px; font-weight: normal; }
    b::after { content: '|'; position: absolute; top: 0px; left: 11px; font-size: 12px; font-weight: bold; font-family: EagleLake; }
    &:hover, &:focus { opacity: 1; box-shadow: 0 0 10px 0 #0009; color: #fff; background-color: red; }
  }

  .keyboard-shortcuts {
    position: fixed; left: 0; top: 0;
    width: calc(100% - 90px); margin: 30px; padding: 60px 0 30px 30px;
    background: #fff; border-radius: 10px;
    box-shadow: 0 0 10px 0px #000;
    font-family: Roboto, sans-serif; font-weight: 200;
    display: flex; justify-content: flex-start; flex-wrap: wrap;
    &::before {
      content: 'Keyboard Shortcuts'; font-size: 1.5em;
      margin-bottom: 20px;
      position: absolute; top: 20px; left: 30px;
    }
    .shortcuts-container { display: inline-block; margin-right: 30px; flex-grow: 1; }
    .shortcut { display: flex; padding: 10px; border-bottom: 1px solid #ccc; color: #666; }
    .shortcut:last-child { border-bottom: none; }
    .title { flex-grow: 1; margin-right: 30px; font-size: .9em; }
    .key { font-family: monospace; color: #000; }
    &.hide { display: none; }

    .close {
      position: absolute; top: 20px; right: 20px;
      font-size: 20px; color: #ccc; font-family: monospace; font-weight: 600;
      height: 30px; width: 30px;
      border-radius: 50%;
      display: flex; align-items: center; justify-content: center;
      transform: scaleX(1.3);
      &:hover, &:focus { color: var(--trade-negative);}
    }
  }
}
