.animation-zone {
  z-index: -1; opacity: 0;
  transition: opacity .15s linear, z-index 0s linear;

  &.ready {
    position: fixed; top: 0; left: 0;
    z-index: 25; opacity: 1;
    width: 100%; height: 100%;
  }

  &.start { opacity: 0; z-index: -1; }
  &.end {
    opacity: 0 !important; z-index: -1 !important;
    transition: opacity .15s linear, z-index 0s .15s linear !important;
  }

  &.dev-c-animation {
    background: color-mix(in srgb, #3a3527 80%, transparent);
    display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
    perspective: 300px;

    .card-container {
      width: 196px; height: 302px; margin-top: 61px; margin-left: 2px;
      perspective: 300px;
    }

    .card {
      width: 100%; height: 100%;
      box-shadow: 0 0 15px 0 #000c;
      background-color: #ebd290; overflow: hidden;
      position: relative; border-radius: 15px; perspective: 10000px;

      &::before {
        content: ''; width: 100%; height: 100%; position: absolute;
        background-image: url(/images/cards_sprite.png);
      }

      &.dK::before { background-size: 1640px; background-position: -1409px -29px; transform: rotateZ(-1deg); }
      &.dR::before { background-size: 1570px; transform: rotateX(-5deg) rotateY(-15deg) rotateZ(-1deg); background-position: -29px -359px; }
      &.dY::before { background-size: 1550px; background-position: -478px -346px; transform: rotateZ(-1deg); }
      &.dM::before { background-size: 1550px; background-position: -257px -344px; transform: rotateX(-5deg) rotateY(-10deg) rotateZ(0deg); }
      &.dVp::before { background-size: 1520px; background-position: -461px -668px; transform: rotateX(-12deg) rotateY(-4deg) rotateZ(1deg); }
      &.dR { background-color: #dbbe6a; }
      &.dVp { background-color: #cfaf5d; }
    }

    &.out {
      transition: none;
      .card {
        box-shadow: 0px 5px 0 -2px #5a460e, 0px 65px 20px -30px #000;
        transform: rotateX(50deg); /* translate3d(0px, -54px, -116px); */
        transform-origin: center; transition: all .25s linear;
      }
      &.start { transition: opacity .15s .25s linear, z-index 0s .4s linear; }
      &.start .card {
        transform: rotateX(65deg) translate3d(0px, -1000px, -20px);
        transform-origin: top center;
      }
    }

    &.in {
      .card {
        transform: rotateX(65deg) translate3d(0px, -500px, 300px);
        transform-origin: bottom center; transition: all .25s linear;
      }
      &.start { transition: opacity .15s 1.75s linear, z-index 0s 1.9s linear; }
      &.start .card {
        transform: rotateX(0deg) translate3d(0px, 50px, 0px);
      }
    }
  }
}
