@import '../constants.css';

#game > .current-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  font-family: sans-serif;

  /* ---- HAND ---- */
  .hand {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -120px;
    width: 100%;
    filter: drop-shadow(0px 0px 15px #000);

    .card-group {
      position: relative;
      bottom: 120px;
      margin-right: 20px;
      transition: all .1s linear;

      @media screen and (max-width: 900px) { margin-right: -70px !important; }
      @media screen and (max-width: 700px) { margin-right: -90px !important; }

      &:hover {
        bottom: 200px;
      }

      .card {
        /* cursor: pointer; */
        width: 140px;
        height: 212px;
        /* margin-bottom: -100px; */
        background-color: #ebd290;
        border-radius: 15px;
        border: 1px solid #5a460e;
        box-shadow: 3px 0px 5px -3px #0006;
        background-image: url(/images/cards_sprite.png);

        &:not(:first-child) {
          position: absolute;
          bottom: 0px;
        }

        &[data-type=S] { background-size: 1100px; background-position: -176px -13px; }
        &[data-type=L] { background-size: 1109px; background-position: -639px -9px; }
        &[data-type=B] { background-size: 1077px; background-position: -12px -15px;
          /* filter: saturate(1.4) contrast(1.1) brightness(0.85);  */
        }
        &[data-type=O] { background-size: 1074px; background-position: -326px -5px; }
        &[data-type=W] { background-size: 1097px; background-position: -484px -9px; }
        &[data-type=dK] { background-size: 1167px; background-position: -1003px -21px; }
        &[data-type=dR] { background-size: 1077px; background-position: -16px -245px; }
        &[data-type=dY] { background-size: 1097px; background-position: -338px -247px; }
        &[data-type=dM] { background-size: 1077px; background-position: -177px -239px; }
        &[data-type=dVp] { background-size: 1047px; background-position: -314px -460px; }
      }

      .card-count {
        cursor: default;
        position: absolute;
        top: -14px;
        left: 43px;
        /* background: #fff; */
        background: #5a460e;
        color: #ebd290;
        border-radius: 50px;
        /* color: #5a460e; */
        border: 1px solid #ebd290;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  /* ---- ACTIONS ---- */
  .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    height: 40px;
    padding: 10px;
    background: var(--sand-color-dark);
    color: #fff;
    border-top: 5px solid #000;
    filter: drop-shadow(0px -2px 10px black);

    > div {
      margin: 0 5px;
    }
    /* TIMER */
    .timer {
      font-family: monospace;
      font-size: 2em;

      &.disabled {
        color: #0004;
        font-weight: 600;
      }
    }

    /* DICE */
    .roll-dice {
      padding: 8px 10px;
      position: relative;
      top: -10px;
      font-size: 60px;
      background: inherit;
      border-radius: 30px 30px 0 0;
      border: 3px solid;
      border-color: inherit;
      padding-bottom: 20px;
      cursor: pointer;
      line-height: 90px;
      transition: all .25s linear;

      &.disabled {
        border-radius: 10px 10px 0 0;
        line-height: 70px;
        top: 5px;
        filter: grayscale(1) contrast(0.5);
        cursor: not-allowed;
        padding-top: 3px;
      }

      &:not(.disabled):hover {
        filter: brightness(1.2);
      }
    }

    /* BUILD ROAD */
    .build-road {
      position: relative;
      width: 40px;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.3;
        position: absolute;
        left: 0px;
        top: 2px;
        z-index: -1;
      }

      &::after {
        content: '';
        display: flex;
        width: 6px;
        margin-left: 15px;
        height: 40px;
        border: 2px solid #fff;
        background: var(--sand-color-dark);
      }

      &:hover, &.active {
        filter: brightness(0.7);
        &::after { border-color: transparent; }
      }

      &.disabled {
        cursor: not-allowed;
        filter: grayscale(1) brightness(2);
        opacity: 0.7;
        &::after { border-color: #0003; }
        &::before { opacity: .1; }
      }
    }

    /* BUILD SETTL, CITY */
    .build-city,
    .build-settlement
    {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      filter: drop-shadow(1px 1px 0px #fff) drop-shadow(-1px -1px 0px #fff) drop-shadow(1px -1px 0px #fff) drop-shadow(-1px 1px 0px #fff);
      &:hover, &.active { filter: brightness(0.7); }

      &.disabled {
        cursor: not-allowed;
        filter: grayscale(1) brightness(2);
        opacity: 0.5;
      }
    }
    .build-settlement { width: 30px; background-size: 30px; }
    .build-city { width: 40px; background-size: 40px; }

    /* DEV CARD */
    .dev-card {
      cursor: pointer;
      position: relative;
      & img { width: 30px; }
      &:hover { filter: brightness(0.7); }
      &.disabled {
        cursor: not-allowed;
        filter: grayscale(1);
        opacity: .5;
      }

      &::before {
        content: attr(data-count);
        position: absolute;
        top: 37px;
        left: 22px;
        width: 14px;
        height: 12px;
        font-family: monospace;
        font-size: 10px;
        color: #999;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #999;
        display: flex;
        justify-content: center;
        align-items: center;
        /* opacity: 0.7; */
      }
    }

    /* TRADE */
    .trade {
      cursor: pointer;
      &:not(.disabled):hover {
        text-shadow: 0px 0 10px #fff;
      }
      &.disabled {
        cursor: not-allowed;
        filter: brightness(0.7);
      }
    }

    /* END TURN */
    .end-turn {
      background: #fff;
      color: var(--sand-color-dark);
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;

      &:not(.disabled):hover {
        box-shadow: 0px 0 10px 0px #fff;
      }

      &.disabled {
        background: #aaa;
        color: #666 !important;
        cursor: not-allowed;
      }
    }
  }

  &.id-1 .actions { background: var(--player-1-color); border-color: var(--player-1-color-dark); }
  &.id-2 .actions { background: var(--player-2-color); border-color: var(--player-2-color-dark); }
  &.id-3 .actions { background: var(--player-3-color); border-color: var(--player-3-color-dark); }
  &.id-4 .actions { background: var(--player-4-color); border-color: var(--player-4-color-dark); }

  &.id-1 .actions .build-road::after { background: var(--player-1-color-dark); }
  &.id-2 .actions .build-road::after { background: var(--player-2-color-dark); }
  &.id-3 .actions .build-road::after { background: var(--player-3-color-dark); }
  &.id-4 .actions .build-road::after { background: var(--player-4-color-dark); }

  &.id-1 .actions .build-settlement { background-image: url(/images/pieces/settlement-1.png); }
  &.id-2 .actions .build-settlement { background-image: url(/images/pieces/settlement-2.png); }
  &.id-3 .actions .build-settlement { background-image: url(/images/pieces/settlement-3.png); }
  &.id-4 .actions .build-settlement { background-image: url(/images/pieces/settlement-4.png); }

  &.id-1 .actions .build-city { background-image: url(/images/pieces/city-1.png); }
  &.id-2 .actions .build-city { background-image: url(/images/pieces/city-2.png); }
  &.id-3 .actions .build-city { background-image: url(/images/pieces/city-3.png); }
  &.id-4 .actions .build-city { background-image: url(/images/pieces/city-4.png); }

  &.id-1 .actions .end-turn { color: var(--player-1-color); }
  &.id-2 .actions .end-turn { color: var(--player-2-color); }
  &.id-3 .actions .end-turn { color: var(--player-3-color); }
  &.id-4 .actions .end-turn { color: var(--player-4-color); }

  .status-bar {
    background: #d7c1a7;
    color: #9c5e15;
    border-top: 1px solid #aa8456;
    position: relative;
    text-align: center;
    padding: 3px 10px;

    b { color: #77450b; }
    small { opacity: 0.7; }
  }
}
